node_modules/
frontend/node_modules/
frontend/dist/
frontend/android/app/src/main/assets/public/
backend/build/
backend/dist/
backend/data/
backend/__pycache__/
backend/modules/__pycache__/
*.spec
electron-builder.yml
dist/
*.exe
*.apk
*.aab
*.blockmap
data/
.DS_Store
